<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div>
    <table class="container body-content">
           <tr>
               <td>
                   <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
               </td>
           </tr>
    </table>
    <table class="container body-content" th:each="job : ${jobs}">
            <!-- TODO #3 - Use the same list display from search.html -->

        <tr th:each="column : ${job}">
                <!--<td th:each="column : ${columns}" th:text="${column}"></td>-->
            <td th:text="${column.key}"></td>
            <td th:text="${column.value}"></td>
        </tr>
    </table>
</div>
</body>
</html>